<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hugo.alberto.community">

    <permission
        android:name="hugo.alberto.community.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="hugo.alberto.community.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="hugo.alberto.community.Application.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="hugo.alberto.community.Activities.DispatchActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hugo.alberto.community.Activities.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/StartTheme"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="hugo.alberto.community.Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/StartTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="hugo.alberto.community.Activities.SignUpActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/StartTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="hugo.alberto.community.Activities.PostActivity"
            android:label="@string/activity_post_title"
            android:windowSoftInputMode="adjustResize" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC2_kqLsHJLakt44hbT6AgrPoSJc6akzAI" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
